/*TEST CSS*/
@import 'assets/ibm-plex/css/ibm-plex.css';
body, html, .gc {
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    background-color: #000000;
    height: 100%;
    margin: auto;
    color: #FFFFFF;
}

.gc{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 1fr 10%;
    gap: 0px 0px;
    grid-template-areas:
        "container head ."
        "sidenav cons ."
        ". foot .";
}

/*for 404.html*/
.gc_er{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 1fr 10%;
    gap: 0px 0px;
    grid-template-areas:
        "container head ."
        "sidenav error ."
        ". foot .";
}

.error{
    padding-top: 50px;
    grid-area: error;
}

.container {
    grid-area: container;
    display: inline-block;
    cursor: pointer;
    padding-left:40px;
    padding-top: 20px;
    position: fixed;
    z-index: 999;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
    border: 1px solid #FFFFFF;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    grid-area:sidenav;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.containcons {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 10% 1fr 20px;
    gap: 0px 0px;
    grid-template-areas:
        ". curarea ."
        ". console ."
        ". inputarea .";
    grid-area: containcons;
    padding-bottom:20px;
    height:470px;
}

.cons {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". containcons ."
        ". res .";
    grid-area: cons;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    height:700px;
}

.inputarea{
    display: grid;
    grid-template-columns: 5% 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "arlbl in";
    grid-area: inputarea;
}

.arlbl {
    grid-area: arlbl;
    font-size: 18px;
    background-color: inherit;
    color: #FFFFFF;
    border: none;
    outline: none;
    text-align:left;
}

/*current area label*/
.curarea{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . . ."
        ". . . . ."
        ". . . . ."
        "calbl . . . .";
    grid-area: curarea;
}
.calbl{
    background-color: #FFFFFF;
    color: #000000;
    grid-area: calbl;
}

.console {
    display: block;
    grid-area: console;
    resize: none;
    height: 400px;
    width: 100%;
    background-color: inherit;
    color: #FFFFFF;
    /*border: 1px solid #FFFFFF;*/
    border: none;
    font-size: 18px;
    outline: none;
}

.in{
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    font-family:inherit;
    font-size:18px;
    grid-area: in;
}

in:focus{
    outline:none;
    background-color:#000000;
}

.res {
    grid-area: res;
    text-align: center;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". innerres .";
}

.pagehead {
    font-size: 30px;
    color: #FFFFFF;
    background: inherit;
}

.subhead {
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 10px
}

.subsub {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
}

.subsubsub {
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
}

.head{
    grid-area: head;
    text-align: center;
    color: #FFFFFF;
    font-size: 60px;
}

.foot{
    grid-area: foot;
    text-align: center;
    color: #FFFFFF;
}

/*for the color change of hyperlinks*/
a {
    color: #FFA584;
}

/*show borders for testing*/
/*
.gc * {
    border: 1px solid #FFFFFF;
    position: relative;
}*/
