/*TEST CSS*/
@import 'assets/ibm-plex/css/ibm-plex.css';
body,html,.gc{
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    background-color: #000000;
    height: 100%;
    margin: auto;
    color: #FFFFFF;
}

.gc{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 1fr 10%;
    gap: 0px 0px;
    grid-template-areas:
    ". head ."
    ". cons ."
    ". foot .";
}

.cons {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 10% repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
    ". curarea ."
    ". console ."
    ". res .";
    grid-area: cons;
    text-align: center;
    color: #FFFFFF;
}

.curarea{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        ". . . . ."
        ". . . . ."
        ". . . . ."
        "calbl . . . .";
    grid-area: curarea;
}
.calbl{
    background-color: #FFFFFF;
    color: #000000;
    grid-area: calbl;
}
.console {
    display: block;
    grid-area: console;
    resize: none;
    height: 100%;
    width: 100%;
    background-color: inherit;
    color: #FFFFFF;
    /*border: 1px solid #FFFFFF;*/
    border: none;
    font-size: 18px;
}

.res {
    grid-area: res;
    text-align: center;
    color: #FFFFFF;
    visibility: hidden;
}

.head{
    grid-area: head;
    text-align: center;
    color: #FFFFFF;
    font-size: 60px;
}

.foot{
    grid-area: foot;
    text-align: center;
    color: #FFFFFF;
}

/*show borders for testing*/
/*
.gc * {
    border: 1px solid #FFFFFF;
    position: relative;
}*/
