/*CSS Style File*/
@import 'assets/ibm-plex/css/ibm-plex.css';
body,html{
    margin:0;
    padding:0;
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    font-size:12px;
    background: #2980b9 url('assets/nightlights.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /*background-position: top 10em;*/
}

h1{
    text-align: center;
}
#app-header-title{
    font-size: 6em;
    font-weight: 200;
}

h2{
    font-size: 2em;
    font-weight: 200;
}
#work_button{

}

.button_work{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}
