/*CSS Style File*/
@import 'assets/ibm-plex/css/ibm-plex.css';
*{
    box-sizing: border-box;
}
.column{
    float: left;
    width: 50%;
    pa
}
body,html{
    display: grid;
    grid-template-areas:
        "header"
        "cons"
        "res"
        "footer";
    grid-template-rows: 10% 35% 35% 10%;
    grid-row-gap: 10px;
    height: 100vh;
    width: auto;
    margin:0;
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    background-color: #000000;
}

header,footer,cons,res{
    background-color: inherit;
    color: #FFFFFF;
    text-align: center;
    background: Transparent;
    font-weight: 200;
}
#pageHeader{
    grid-area: header;
    font-size: 3em;
}
#pageFooter{
    grid-area: footer;
}
#mainCons{
    grid-area: cons;
}
#mainRes{
    grid-area: res;
}

@media all and (max-width: 100%){
    body{
        grid-template-areas:
            "header"
            "cons"
            "res"
            "footer";
        grid-template-rows: 10% 1fr 10% 1fr 10%;
        grid-template-columns: 1fr;
    }
}

/*
h1{
    color: #FFFFFF;
}
#app-header-title{

}

footer{
    color: #FFFFFF;
}
*/
/*formatting for console*/
